body{background-color: skyblue;
    text-align: center;
}

h1{font-family: 'Quicksand', sans-serif;
   font-weight:bold ;
   font-size:12em;
   color:blue;
}

 
.lyrics p {font-family: 'Quicksand', sans-serif; ;
          font-size:2em;
          font-weight: bold;
          color: #0000ff;
}

